:root {
--wds-font-heading-bold-h0: 700 32px/48 Wellcome;
--wds-font-heading-bold-h1: 700 24px/42 Wellcome;
--wds-font-heading-bold-h2: 700 22px/36 Wellcome;
--wds-font-heading-bold-h3: 700 18px/28 Wellcome;
--wds-font-heading-bold-h4: 700 16px/24 Wellcome;
--wds-font-heading-bold-h5: 700 14px/22 Wellcome;
--wds-font-heading-sans-serif-h0: 500 32px/48 'Helvetica Neue';
--wds-font-heading-sans-serif-h1: 500 24px/42 'Helvetica Neue';
--wds-font-heading-sans-serif-h2: 500 22px/33 'Helvetica Neue';
--wds-font-heading-sans-serif-h3: 500 18px/28 'Helvetica Neue';
--wds-font-heading-sans-serif-h4: 500 16px/24 'Helvetica Neue';
--wds-font-heading-sans-serif-h5: 500 14px/22 'Helvetica Neue';
--wds-space-xxl: 3rem;
--wds-space-xl: 2rem;
--wds-space-l: 1.5rem;
--wds-space-m: 1rem;
--wds-space-s: 0.75rem;
--wds-space-xs: 0.5rem;
--wds-space-xxs: 0.25rem;
--wds-artboard: 20rem;
}

@media (min-width: 48rem) {
  :root {
--wds-font-heading-bold-h0: 700 34px/60 Wellcome;
--wds-font-heading-bold-h1: 700 28px/48 Wellcome;
--wds-font-heading-bold-h2: 700 22px/33 Wellcome;
--wds-font-heading-bold-h3: 700 18px/28 Wellcome;
--wds-font-heading-bold-h4: 700 16px/24 Wellcome;
--wds-font-heading-bold-h5: 700 14px/22 Wellcome;
--wds-font-heading-sans-serif-h0: 500 34px/60 'Helvetica Neue';
--wds-font-heading-sans-serif-h1: 500 28px/48 'Helvetica Neue';
--wds-font-heading-sans-serif-h2: 500 22px/33 'Helvetica Neue';
--wds-font-heading-sans-serif-h3: 500 18px/28 'Helvetica Neue';
--wds-font-heading-sans-serif-h4: 500 16px/24 'Helvetica Neue';
--wds-font-heading-sans-serif-h5: 500 14px/22 'Helvetica Neue';
--wds-space-xxl: 4.5rem;
--wds-space-xl: 3rem;
--wds-space-l: 2rem;
--wds-space-m: 1.5rem;
--wds-space-s: 1rem;
--wds-space-xs: 0.5rem;
--wds-space-xxs: 0.25rem;
--wds-artboard: 48rem;
  }
}

@media (min-width: 90rem) {
  :root {
--wds-font-heading-bold-h0: 700 40px/64 Wellcome;
--wds-font-heading-bold-h1: 700 32px/48 Wellcome;
--wds-font-heading-bold-h2: 700 24px/36 Wellcome;
--wds-font-heading-bold-h3: 700 20px/30 Wellcome;
--wds-font-heading-bold-h4: 700 16px/24 Wellcome;
--wds-font-heading-bold-h5: 700 14px/22 Wellcome;
--wds-font-heading-sans-serif-h0: 500 40px/64 'Helvetica Neue';
--wds-font-heading-sans-serif-h1: 500 32px/48 'Helvetica Neue';
--wds-font-heading-sans-serif-h2: 500 24px/36 'Helvetica Neue';
--wds-font-heading-sans-serif-h3: 500 20px/30 'Helvetica Neue';
--wds-font-heading-sans-serif-h4: 500 16px/24 'Helvetica Neue';
--wds-font-heading-sans-serif-h5: 500 14px/22 'Helvetica Neue';
--wds-space-xxl: 6rem;
--wds-space-xl: 4rem;
--wds-space-l: 3rem;
--wds-space-m: 2rem;
--wds-space-s: 1rem;
--wds-space-xs: 0.5rem;
--wds-space-xxs: 0.25rem;
--wds-artboard: 90rem;
  }
}
